<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
      integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Halaman Utama</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-code me-2"></i>Challenge 5</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/view/user-games"><i class="fas fa-user me-1"></i>User Games</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/view/user-games-biodata"><i class="fas fa-user me-1"></i>User Game Biodata</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/view/user-games-history"><i class="fas fa-user me-1"></i>User Game History</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/docs"><i class="fas fa-duotone fa-file-code me-1"></i>Docs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
